.temperature_cold{
    border: 2px solid;
    border-color: blue;
}

.temperature_mild{
    border: 2px solid;
    border-color: green;
}

.temperature_warm{
    border: 2px solid;
    border-color: orange;
}

.temperature_hot{
    border: 2px solid;
    border-color: red;
}