.blue{
    border: 2px solid;
    border-color: blue;
}

.green{
    border: 2px solid;
    border-color: green;
}

.orange{
    border: 2px solid;
    border-color: orange;
}

.red{
    border: 2px solid;
    border-color: red;
}